#header {
  background-color: #9BC0F6;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto;
  margin: 0 auto;
}

h1 {
    font-family: 'Poppins', helvetica, sans-serif;
    text-align: center;
    color: white;
}

h2 {
  font-family: 'Roboto Slab', helvetica, "Times new roman", serif;
}

p {
  font-family: 'Roboto Slab', helvetica, "Times new roman", serif;
}

body {
  background-color: #E1E1E1;
}

#container {
display: flex;
flex-direction: row;
 background-color: #9BC0F6;
 width: 100%;
 flex-wrap: wrap;
 justify-content: center;

}

#nav {
  padding: 0;
  list-style-type: none;

}

#nav ul {
  margin: 5px;
  padding: 5px;
  border-bottom: 5px solid green;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  display: block;
  color: white;
  background-color: red;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
  list-style: none;
}

menu {
  background-color: #9BC0F6;
}


nav ul li {
    display: block;
    width: 100%;
    border-top: 1.5px white solid;
    font-family: 'Roboto Slab', helvetica, "Times new roman", serif;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-trigger {
    order: 1;
    font-size: 40px;
}

menu h1 {
    order: 2;
    font-size: 50px;
}

nav ul {
    display: none;
}

a a:hover, #nav a:active {
  background-color: white;
}

.caption {
  font-family: Georgia, "Times new roman", serif;
  font-style: italic;
  color: grey;
  font-size: .8em;
  margin-top: 0;
  text-align: right;
}

.type
{
  font-style: italic;
  font-size: 20px;
}

.item {
  width: 10px;
  display: flex;
  color: white;
	padding: 10px;
	margin: 1px;
	background: black;
	border-radius: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 1;
  flex-basis: 500px;

}

a {
  color: white;
}

article {
  margin-bottom: 1px;
  border-bottom: 1px solid #ccc;
}


@media screen and (min-width:400px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    grid-gap: 10px;
    grid-template-areas:
    "a b "
    "c d";
  }

  .info {
    width: 75%;
    grid-area: a;
    margin-bottom: 10px;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }


  .type {
    grid-area: d;
    display: block;
    float: bottom;
  }
}


@media screen and (min-width:650px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
    grid-template-areas:
    "a b"
    "c d";
  }

  .info {
    width: 75%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }


  .type {
    grid-area: d;

  }
  @media screen and (min-width: 850px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
        border-left: 1.5px white solid;
        border-right: 1.5px white solid;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
}



@media screen and (min-width:800px) {
  article {
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 100px 300px;
    grid-gap: 20px;
    grid-template-areas:
    "a b "
    "c d";
  }

  .info {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }


  .type {
    grid-area: d;
    display: block;
  }


}


#footer {
color: white;
font-family: 'Indie Flower', helvetica, "Times new roman", cursive;
font: 0.8em;
border-top: 1px solid white;
background-color: #9BC0F6;
display:flex;
justify-content: flex-end;
}
